.wrapper {
  width: 80%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-between;
  align-self: center;
  gap: 5%;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 228, 196, 0.316);

  &__delete {
    align-self: flex-end;
    margin-right: 5%;
    cursor: pointer;
  }
  &__image {
    width: 90%;
    max-height: 210px;
  }
  &__title {
  }
  &__price {
  }
  &__like {
    align-self: flex-end;
    margin-right: 5%;
  }
}
